:root {
    --primary-blue: #285670;
    --secondary-blue: #D4DDE2;
    --primary-white: #FAFAFA;
    --secondary-white: #F8F8F8;
    --primary-black:  #333333;
    --primary-grey: #BDBDBD;
    --secondary-grey: #E5E5E5;
    --secondary-black:  #4F4F4F;
    --login-yellow: #E4C870;
}

#root {
    font-family: 'nunito', sans-serif;
}