.menuContent {
  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 250px;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  font-family: 'nunito', sans-serif;
  color: var(--primary-white);
  background-color: var(--primary-black);
}
.menuContent .menuDashboard {
  background-color: #2F6D89;
  padding: 10px;
  padding-left: 20px;
  font-size: 1em;
}

/* Dropdown Button */
.dropBtn {
  width: 100%;
  text-align: left;
  background-color: var(--primary-black);
  color: white;
  padding: 10px;
  padding-left: 20px;
  font-size: 1em;
  border: none;
  cursor: pointer;
}
  
.dropBtn:hover, .dropBtn:focus {
  background-color: var(--primary-blue);
}
  
.menuDropdown {
  position: relative;
  display: inline-block;
}
  
.menuDropdownItem {
  width: 100%;
  /* display: none;   */
  height: 0;
  overflow: hidden;
  position: relative;
  background-color: var(--secondary-black); /*cor quando clicada*/
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: .5s;                         /*é aqui que fica a função pra adicionar o botão dropdown */
}
  
.menuDropdownItem a {
  color: var(--primary-white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.logOutBtn {
  background-color: var(secondary-black);
}

.menuDropdownItem li:hover {
    background-color: var(--secondary-black);
}

.show {
  position: absolute;
  height: 80%;
  overflow: hidden;
  display:flex;
  flex-direction: column;
  position: relative;
  transition: .5s;
}