header {
    position: relative;
    width: 100%;
    background-color: var(--primary-blue);
    height: 50px;
    display: flex;
    justify-content: space-between;
}

header .logoHeader {
    margin-left: 48.5%;
}

.dropdownHeader {
    position: absolute;
    right: 30px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.dropdownBtn {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    background-color: var(--primary-blue);
}

.dropdownBtn:hover, .dropdownBtn:focus {
    background-color: var(--primary-black);
    text-align: center;
}

.dropdownList {
    display: flex;
    width: 200px;
    position: absolute;
    flex-direction: column;
    flex-flow: column;
    height: 0;
    overflow: hidden;
    z-index: 300;
    background-color: var(--primary-black);
    transition: .3s;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dropdownList li {
    cursor: pointer;
    height: 35px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.logOutBtn {
    background-color: var(--secondary-black);
}

.logOutBtn:hover {
    background-color: var(--primary-grey);
}

.dropdownItem {
    height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.875em;
    text-decoration: none;
    color: var(--primary-white);
}

li:hover {
    background-color: var(--secondary-black);
}

.show {
    height: 555555555555500px;
    transition: .3s;
    /* display: flex;
    flex-direction: column; */
}
