.loginPage {
    display: flex;
    height: 100vh;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.loginPage h2{
    font-size: 2.125em;
    margin-bottom: 15px;
}

.loginContainer {
    color: var(--primary-white);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginContainer a {
    position: relative;
    text-decoration: none;
    color: var(--primary-white);
    margin-top: 10px;
}
.loginContainer a:hover {
    color: var(--login-yellow);
}


.loginContainer p {
    font-size: 0.875em;
    margin-bottom: 15px;
}

.loginLeftSide {
    background-color: var(--primary-black);
}

.loginLeftSide img {
    margin-top: 50px;
}

.loginParagraph {
    margin-top: 200px;
}

.loginRightSide {
    background-color: var(--primary-blue);
    padding-top: 225px;
}

.loginRightSide form {
    display: flex;
    width: 50%;
    flex-direction: column;
    border-radius: 5px;
}

.loginRightSide input {
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    margin-top: 10px;
    padding-left: 20px;
    height: 32px;
    color: var(primary-grey);
    font-size: 1em;
}

.loginRightSide .submitBtn {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--login-yellow);
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.loginRightSide .submitBtn:hover {
    background-color: #252525;
    color: var(--primary-blue);
}