
.notFoundContainer {
    position: relative;
    /* height: calc(100vh - 50px); */
    height: 100vh;
    width: 100%;
    background-color: var(--secondary-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.notFound {
    color: var(--primary-blue);
}
.notFoundReturn {
    margin-top: 20px;
}
.notFoundText {
    margin-top: 20px;
}

.notFoundNumber {
    margin-top: 100px;
    margin-bottom: 25px;
    font-size: 4em;
    font-weight: bold;
    font-family: 'nunito', sans-serif;
}
