
.constructionContainer {
    position: relative;
    /* height: calc(100vh - 50px); */
    height: 100vh;
    width: 100%;
    background-color: var(--secondary-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.construction {
    color: var(--primary-blue);
}
.constructionReturn {
    margin-top: 20px;
}
.constructionText {
    margin-top: 20px;
}

.logoconstruction {
    margin-top: 200px;
}

