.homeAll {
    display: flex;
}

.collabSubHeader {
    /* border: 1px solid blue; */

    display: flex;
    justify-content: space-between;

    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.collabSubHeader h2{
    font-size: 1.25em;
    font-weight: bold;

    padding-right: 600px;
}

table {
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #e8e8e8;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
    margin-left: 30px;

    vertical-align: middle;
}

tbody tr:hover {
    background-color: var(--primary-grey);
}

th, td {    
    /* border: 1px solid black; */

    width: 9%;
    height: 50px;

    text-align: center;
    vertical-align: middle;
}

td {
    font-size: 0.875em;
}

th {
    font-size: 1.125em;
}

td button {
    width: 85px;
    height: 30px;

    background-color: #E4C870;
    color: var(--primary-white);
    text-transform: lowercase;
    cursor: pointer;
    
    border: none;
    border-radius: 5px;
}

